.button {
  position: relative;
  .text {
    opacity: 0;
    transition: all 0.2s;
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
    color: white;
    top: 50px;
    left: 50%;
    user-select: none;
    transform: translateX(-50%);
    font-size: 14px;
    background-color: rgba(11, 11, 11, 0.7);
    white-space: nowrap;
    pointer-events: none;
  }
  &:hover {
    .text {
      opacity: 1;
    }
  }
}
